<header class="uk-background-secondary">
    <nav class=" uk-background-secondary uk-padding-small uk-flex uk-flex-middle" uk-navbar>

        <a href="/">
            <img class="logo" src="/images/logo.png" alt="Shopping cart image">
        </a>

        <div class="uk-navbar-right">
        
            <ul class="uk-navbar-nav uk-flex-middle">
                <li><a href="/">Home</a></li>
                <li><a href="/player/create">Registrar Jugador</a></li>
                <li><a href="/user/login">Ingresar</a></li>
                <li><a href="/user/registro">Registrarse</a></li>
                <li><a href="/user/detalle">Mi Perfil</a></li>
                
            </ul>
        
        </div>
    </nav>
</header>